.login{padding-top: .6rem;}
.user {padding-left: .83rem;margin-bottom: .22rem;}
.user input{   display: block;
    font-size:.16rem;width: 4.74rem;height: .6rem;box-sizing: border-box;padding-left: .18rem;background: #e6e6e6;border-radius: .2rem;border: none;}
.user .shen{position: relative;float: left;}
.user select{font-size:.21rem;opacity:0;width: 1.54rem;height: .6rem;position: absolute;left: 0;top: 0;}
.user img{position: absolute;left: 1.18rem;top: .24rem;width: .25rem;height: .12rem;}




.checked{font-size: .16rem;color: #808080;margin-left: .83rem;}
.checked img{width: .33rem;height: .3rem;display: inline-block;    vertical-align: middle;padding-right: .08rem;}
.checked span{position: relative;top: .01rem;left: .08rem;}
.tips{font-size: .13rem;color: #EA5F7D;padding-left: .12rem;height: .22rem;}

.login .button{display: block;width: 4.76rem;height: .6rem;font-size: .16rem;color: #fff;background: #EA5F7D;text-align: center;line-height: .6rem;border-radius:.12rem ;margin: .31rem auto .11rem;}
.second{color: #999999;font-size: .16rem;width: 1.34rem;margin: 0 auto;}
.second a{color: #999999;}

/*地址*/
.shengfen{width: 1.56rem !important;padding-left: .12rem !important;margin-right: .04rem;float: left;}
.send_button{margin-left: .12rem;width: 2.3rem;height: .6rem;float: left;background: #9499a5;font-size: .21rem;color: #fff;text-align: center;line-height: .6rem;}
.clear{clear: both;}
.checked a{color: #EA5F7D;}
.bottom_tip{font-size: .21rem;color: #EA5F7D;    padding:0 .83rem;height: .27rem;}
