img{display: inline-block;}


	


/*我的积分*/
.quan{width: 5.94rem;height: .72rem;margin: 0 auto;margin-top: .47rem;line-height: .72rem;box-sizing:border-box;padding-left: .23rem;padding-right: .23rem;font-size: .21rem;color: #333;background: #ebebeb;}
.message{float: right;}
