@charset "utf-8";

/* CSS Document */

.choose_list {
	height: .9rem;
	top: .71rem;
	position: fixed;
	background: #f5f5f5;
	z-index: 100;
}

.choose_list li {
	height: .9rem;
	padding-top: .42rem;
	box-sizing: border-box;
	font-size: .21rem;
	color: #333;
	width: 2.13rem;
	float: left;
	text-align: center;
	border-bottom: 2px solid #fbd2d6;
}

.choose_list .active {
	border-bottom: 4px solid #ff526f;
	width: 2.14rem;
	background: #e6e6e6;
}

.clear {
	clear: both;
}


.list .information {
	float: left;
}

.list li {
	width: 5.92rem;
	margin: 0 auto;
	position: relative;
	min-height: 3.14rem;
	border: 2px solid #ff5774;
	border-radius: .06rem;
	margin-bottom: .28rem;
	z-index: 1;
}

.list li .lie {
	border-top: 2px solid #ffabb9;
}

.list li .lie:nth-of-type(1) {
	border-top: none;
}

.list .my_img {
	float: left;
	vertical-align: top;
	padding: .21rem .27rem .21rem .18rem;
	width: 1.2rem;
	height: 1.2rem;
}

.list .information {
	width: 4.24rem;
	position: relative;
}

.list .title {
	font-size: .21rem;
	color: #EA5F7D;
	padding-top: .3325rem;
}

.list .stitle {
	color: #f47983;
	font-size: .14rem;
	padding-top: .1rem;
	height: .38rem;
}

.list .price {
	color: #f20c00;
	font-size: .19rem;
	padding-top: .13rem;
}

.list .danhao {
	font-size: .19rem;
	color: #808080;
	padding: .15rem .18rem;
}

.list .state {
	font-size: .19rem;
	color: #EA5F7D;
	float: right;
}

.list .number {
	position: absolute;
	bottom: 0;
	font-weight: 800;
	font-size: .21rem;
	color: #EA5F7D;
	right: .17rem;
}

.list .total_price {
	position: absolute;
	bottom: .86rem;
	font-weight: 800;
	font-size: .21rem;
	color: #EA5F7D;
	right: .17rem;
}

.list .del img {
	width: .31rem;
	height: .37rem;
	padding-top: .37rem;
	padding-left: .18rem;
	padding-bottom: .28rem;
}

.list .state_button {
	width: 1.3rem;
	height: .6rem;
	line-height: .6rem;
	text-align: center;
	font-size: .21rem;
	color: #fff;
	background: #EA5F7D;
	position: absolute;
	right: .18rem;
	bottom: .15rem;
}

.list .state_button a {
	color: inherit;
	display: block;
}

.list .state_button2 {
	width: 1.24rem;
	height: .6rem;
	line-height: .58rem;
	text-align: center;
	font-size: .21rem;
	color: #f1526d;
	position: absolute;
	right: 1.65rem;
	bottom: .15rem;
	border: 1px solid #f92c4f;
	box-sizing: border-box;
}

.list .state_button2 a {
	color: inherit;
	display: block;
}

.thing_list dl{font-size: .22rem;color: #333333;border-top: 1px solid #ffbec9;}
.thing_list dd{border-bottom: 1px solid #ffbec9;padding: 0 .17rem;line-height: .58rem;}
.thing_list .thing_price{float: right;color: #EA5F7D;text-align: right;}
.address{line-height: normal;height: .58rem;width: 4.58rem;overflow: hidden;overflow: hidden;}
.liuyan textarea{width: 5.9rem;height: 1.78rem;display: block;margin: 0 auto;border: 2px solid #ff5774;padding: .12rem .15rem;box-sizing: border-box;color: #333;}
.total_fix{width: 5.9rem;font-size: .22rem;color: #333;border: 2px solid #ff5774;margin-top: .23rem;width: 5.9rem;margin: .23rem auto;box-sizing: border-box;padding:.16rem .18rem;border-radius: 5px;}
.fix_t{color: #ff002c;float: right;}
