.login{padding-top: .47rem;}
.login_logo{width: 5.31rem;height: 3.61rem;margin: 0 auto;padding: .6rem 0 .88rem;}
.login_logo img{width: 5.31rem;height: 3.61rem;}
.user {line-height: .6rem;font-size:.17rem;padding-left: .8rem;margin-bottom: .28rem;height: .6rem;}
.user span{display:inline-block;vertical-align:top;width: 1rem;text-align: right; font-size: .21rem;color: #EA5F7D;padding-right: .1rem;}
.user input{   vertical-align: top; position: relative;
    font-size:.16rem;width: 3.56rem;height: .6rem;box-sizing: border-box;padding-left: .28rem;background: #e6e6e6;border-radius: .2rem;border: none;}


.login .button{margin-top: .54rem;display: block;width: 1.79rem;font-size:.21rem;height: .6rem;font-size: .16rem;color: #fff;background: #EA5F7D;text-align: center;line-height: .6rem;border-radius:.12rem ;margin-left: 1.98rem;}
