@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;    font-family: "微软雅黑", "Helvetica Neue",Helvetica,Arial,sans-serif;}
a{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li{list-style-type:none;margin: 0; padding: 0;}
img{border:0px;display:block;}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
i{display: block;}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
input{outline: 0;}
body{background:#fff;position: relative;}
.wrap{width:100%;min-width:320px;margin:0px auto 0px;   padding-bottom: 1.14rem;padding-top: .72rem; }
.return_img{width: .36rem;height: .18rem;position: absolute;top: .27rem;left: .19rem;}
.head{color: #808080;text-align: center;
width: 100%;height:.72rem ;line-height: .72rem;
font-size:.27rem;position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background: #fff;
}





/*用户*/
.yonghu{padding-left: .18rem;font-size: .21rem;line-height: .6rem;height: .6rem;color: #a4783e;background: #f5f5f5;margin-top: .3rem;}
.yonghu a{color: #a4783e;}
.back_top{color: #EA5F7D !important;float: right;padding-right: .18rem;}
.back_top img{width: .15rem;height: .21rem;padding: 0;padding-top: .21rem;display: inline-block !important;}

.nav{padding: .3rem 1.06rem 0; }
.nav li{font-size: .19rem;color: #808080;float: left;padding-left: .15rem;}

.nav li a{padding-right: .12rem;color: #808080;display: inline-block;}
.nav li a:nth-child(4n){padding-right: 0;}


.kefu{text-align: center;height: 1.6rem;margin-top: .3rem;}
.kefu img{width: 2.02rem;height: .49rem;vertical-align: top;}
.kefu ul{margin-left: 1.12rem;    height: .49rem;
    overflow: hidden;}
.kefu li{float: left;}
.kefu .dianhua{padding-left: .13rem;}
.kefu a{display: block;}
.time{font-size: .2rem;overflow: hidden;color: #808080;padding-top: .2rem;}
.banben{font-size: .23rem;color: #a4783e;padding-top: .32rem;}
.banben a{color: #a4783e;display: inline-block;}




/*foot*/
.foot{height: .86rem;border-top: 2px solid #f3f3f3;background: #fff;width: 6.40rem;position: fixed;bottom: 0;left: 0;z-index: 100;}
.foot_title{width:1.28rem;height: .87rem;text-align: center;float: left;}
.foot_title a{color: #666666;display: block;position: relative;}
.foot_img{padding-top: 0.1rem;width: .4rem;height: .38rem;display: block;padding-left: .45rem;}

.foot .title{font-size: .14rem;padding-top: 0.11rem;}
.foot_title .number{    font-size: .17rem;
    position: absolute;
    top: .09rem;
    left: .87rem;}
.foot .active{color: #EA5F7D;}
.foot_tehui{width: 1.28rem;float: left;text-align: center;position: relative;top: -.27rem;}
.tehuiyuan{width: .74rem;height: .74rem;line-height: .74rem;border-radius:1000px ;font-size: .2rem; 
margin-left: .28rem;position: relative;}
.tehuiyuan img{width: .74rem;height: .74rem;position: absolute;top: 0;left: 0;}
.tehuiyuan a{color: #fff;display: block;position: absolute;text-align: center;width: 100%;top: 0;left: 0;line-height: .74rem;}